.texto-verde {
    color: #01f701;
}

.texto-vermelho {
    color: #FF0000;
}

.texto-azul {
    color: #0303fc;
}

.texto-amarelo {
    color: #FFFF00;
}

.texto-laranja {
    color: #FF6200;
}

.texto-rosa {
    color: #ff00f2;
}
